<!-- Offset Image Hero -->
<section class="section is-large is-dark is-background-container has-background header-background animatable">
    <div class="background-image-container">
        {% set backgroundImage = entry.heroBackgroundImage.one() %}
        <img src="{{ backgroundImage.getUrl('widescreenHuge') }}" title="{{ backgroundImage.title }}" alt="{{ backgroundImage.title }}" data-object-fit>
    </div>
</section>
<section class="section is-dark is-vertical-center is-background-container hero offset-image animatable">
    <div class="container">
        <div class="hero-container is-background-container">
            <div class="background-image-container featured-image">
                <div class="transition-helper">
                    {% set image = entry.heroFeaturedImage.one() %}
                    <img src="{{ image.getUrl('fullHeightHuge') }}" title="{{ image.title }}" alt="{{ image.title }}">
                </div>
            </div>
            <div class="heading-container">
                <p class="is-subheading has-dash">{{ entry.heroSubheading }}</p>
                <h1 class="is-large">{{ entry.heroHeading }}</h1>
            </div>
        </div>
    </div>
</section>