{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="section is-small is-grey has-background">
    <div class="container is-medium">
        <h3>GET IN TOUCH</h3>
        <div class="columns is-block-tablet is-flex-desktop contact">
            <div class="column call-to-action">
                {{ footerInfo.callToAction }}
            </div>
            <div class="column">
                <div class="columns is-mobile is-gapless">
                    <div class="column is-narrow address">
                        {{ contactInfo.address }}
                    </div>
                    <div class="column">
                        <p>
                            <a href="mailto:{{ contactInfo.contactEmail }}">{{ contactInfo.contactEmail }}</a><br>
                            <a href="tel:{{ contactInfo.phoneNumber | replace('/[^0-9+]/', '')}}">{{ contactInfo.phoneNumber }}</a>
                        </p>
                        <div class="social-media-links">
                            {% for link in contactInfo.socialMediaLinks %}
                                <a href="{{ link.pageUrl }}" target="_blank">
                                    <i class="{{ link.icon }}"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

<p class="copyright">{{ footerInfo.copyright|replace('{year}', now|date('Y')) }}</p>
    </div>
</footer>