<div class="section is-dark is-background-container nav-overlay">
    <div class="background-image-container">
        <img class="menu-background background-home" src="{{ baseUrl }}img/temp/home-header-nav.jpg" data-object-fit>
    </div>
    <div class="background-image-container">
        <img class="menu-background background-projects" src="{{ baseUrl }}img/temp/projects-header.jpg" title="Projects" alt="Projects" data-object-fit>
    </div>
    <div class="background-image-container">
        <img class="menu-background background-services" src="{{ baseUrl }}img/temp/services-header.jpg" alt="Services" title="Services" data-object-fit>
    </div>
    <div class="background-image-container">
        <img class="menu-background background-about" src="{{ baseUrl }}img/temp/family-portrait.jpg" title="About Us" alt="About Us" data-object-fit>
    </div>
    <div class="background-image-container">
        <img class="menu-background background-contact" src="{{ baseUrl }}img/temp/contact-header-nav.jpg" title="Contact" alt="Contact" data-object-fit>
    </div>
    <div class="container is-small">
        <div class="links">
            <ul>
                <li><a href="{{ baseUrl }}" data-target="background-home">Home</a></li>
                <li><a href="{{ baseUrl }}work" data-target="background-projects">Featured Work</a></li>
                <li><a href="{{ baseUrl }}services" data-target="background-services">Our Services</a></li>
                <li><a href="{{ baseUrl }}about" data-target="background-about">About Us</a></li>
                <li><a href="{{ baseUrl }}contact" data-target="background-contact">Contact</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="social-media-links">
                {% for link in contactInfo.socialMediaLinks.all() %}
                    <a href="{{ link.pageUrl }}" target="_blank">
                        {{ link.siteName | upper }}
                    </a>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>