{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

{# <!-- Home Hero -->
<section class="section is-dark is-vertical-center has-background hero offset-image">
    <div class="container is-small is-background-container">
        <div class="background-image-container">
            <img src="{{ baseUrl }}img/temp/about-header.jpg">
        </div>
        <div class="content">
            <p class="is-subheading has-dash">ABOUT US</p>
            <h1 class="is-large">Small, personal, and friendly.</h1>
        </div>
    </div>
</section> #}

{% include("_partials/_hero_offset_image.twig") %}

{% for block in entry.contentBuilder.all() %}
    {% include('_blocks/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
{% endfor %}

<!-- Team Slider -->
<section class="section is-medium is-dark has-background team-section">
    <div class="container team-header animatable">
        <h1 class="header-title-wrap"><span class="title-wrap">Meet the team</span></h1>
    </div>
    <div class="container team-container animatable">
        <div class="team-slider slider">
            <div class="track clearfix">
                <article class="slide">
                    <div class="slide-contents">
                        <div class="slide-image">
                            <div class="image-overlay">
                                <p>
                                    I am a fun-loving guy that loves traveling and helping people. I’m incredibly awesome but don’t like saying so myself, so if you could say it for me that would be great. 
                                </p>
                                <p>
                                    "Earn your success based on service to others, not at the expense of others" – H. Jackson Brown, Jr. 
                                </p>
                            </div>
                            <img src="{{ baseUrl }}img/temp/about-james.jpg" alt="Photo of James Boyer in Taiwan" title="Photo of James Boyer in Taiwan">
                        </div>

                        <div class="description">
                            <h2>James Boyer</h2>
                            <p class="is-subheading">COFOUNDER / MARKETING DIRECTOR</p>
                        </div>
                    </div>
                </article>
                <article class="slide">
                    <div class="slide-contents">
                        <div class="slide-image">
                            <div class="image-overlay">
                                <p>
                                    I am an avid traveler and enjoyer of food, and I love to discover beautiful ideas, by both exploring the world and creating new things.
                                </p>
                                <p>
                                    "Why do you go away? So that you can come back. So that you can see the place you came from with new eyes and extra colors." – Terry Pratchett 
                                </p>
                            </div>
                            <img src="{{ baseUrl }}img/temp/about-jr.jpg" alt="Photo of John Robert Boyer in Guatemala" title="Photo of John Robert Boyer in Guatemala">
                        </div>
                        
                        <div class="description">
                            <h2>John Boyer</h2>
                            <p class="is-subheading">COFOUNDER / DESIGN &amp; DEVELOPMENT DIRECTOR</p>
                        </div>
                    </div>
                </article>
                <article class="slide">
                    <div class="slide-contents">
                        <div class="slide-image">
                            <div class="image-overlay">
                                <p>
                                    I am an adventure-lover, connection-seeker, 25 year Pre-K to 12 teacher, passionate international development grad and builder, business owner, musician and Grace-receiver... in reverse order.
                                </p>
                            </div>
                            <img src="{{ baseUrl }}img/temp/joanna-portrait-guatemala.jpg" alt="Photo of Joanna Boyer in Guatemala" title="Photo of Joanna Boyer in Guatemala">
                        </div>

                        <div class="description">
                            <h2>Joanna Boyer</h2>
                            <p class="is-subheading">MANAGEMENT DIRECTOR</p>
                        </div>
                    </div>
                </article>
                <article class="slide">
                    <div class="slide-contents">
                        <div class="slide-image">
                            <div class="image-overlay">
                                <p>
                                    This is some long text that should not break. It's a description about this person. They are so interesting and quirky - maybe I should hire them because they seem authentic.
                                </p>
                                <p>
                                    Gosh they're so much like real people I can't wait to give them money for not being fake. 
                                </p>
                            </div>
                            <img src="{{ baseUrl }}img/temp/robert-portrait.jpg" alt="Photo of Robert Boyer in Belize" title="Photo of Robert Boyer in Belize">
                        </div>

                        <div class="description">
                            <h2>Robert Boyer</h2>
                            <p class="is-subheading">COFOUNDER / CEO / OPERATIONS DIRECTOR</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{# Next Section Content Block #}
<section class="section is-medium is-dark has-background has-text-centered is-background-container next-project-section block-next-section animatable">
    <div class="background-image-container">
        <div class="transition-helper">
            <img src="{{ baseUrl }}img/temp/services-header.jpg" title="Our Services" alt="Our Services" data-object-fit="data-object-fit">
        </div>
    </div>
    <div class="container">
        <a href="{{ craft.entries.section('services').first().url }}">
            <p class="is-subheading heading-title-wrap">
                <span class="heading-title">NEXT</span></p>
            <h1 class="heading-title-wrap">
                <span class="heading-title">Our Services</span></h1>
        </a>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}