{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

<!-- Home Hero -->
<section class="section is-large is-dark is-vertical-center is-background-container hero offset-image">
    <div class="background-image-container">
        <img src="{{ baseUrl }}img/temp/about-header.jpg">
    </div>
    <div class="container is-small ">
        <p class="is-subheading has-dash">ABOUT US</p>
        <h1 class="is-large">Small, personal, and friendly.</h1>
    </div>
</section>

<!-- Two Column Content -->

<section class="section is-medium is-large-desktop">
    <div class="container is-small">
        <h1>Bringing KC online since 2011.</h1>
        <p class="is-multi-column">
            Suspendisse sagittis elementum leo, sagittis ornare erat rutrum non. Cras iaculis sem volutpat molestie ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed molestie cursus justo eget efficitur. Phasellus sagittis quam quis porttitor consequat. Morbi eu condimentum ipsum, eget vehicula quam. Proin velit lectus, iaculis quis nunc fermentum, ultrices maecenas vulputate lorem vel ante porta varius. Proin malesuada dapibus tellus a sagittis. Suspendisse sit amet lorem sed mi tristique finibus. Donec ultrices vitae dui nec malesuada. Proin pellentesque tempus nibh at varius. Morbi venenatis lacus a iaculis ornare. Mauris eget nisi ac felis varius porta vel a neque. Duis eu nulla sem. Proin tempor orci non arcu congue.
        </p>
    </div>
</section>

<!-- Image, Text Column Right -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/about-red_jacket.jpg" />
            </div>
            <div class="column text">
                <h1>We strive for excellence in all things.</h1>
                <p>
                    Sed in lacinia diam, ac volutpat est. Nullam pharetra semper nisl vitae malesuada. Morbi vulputate augue vel ornare luctus. Suspendisse non justo purus.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Image, Text Column Left -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns is-reversed-desktop">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/about-stock_handshake.jpg"/>
            </div>
            <div class="column text">
                <h1>Work with people, not employees.</h1>
                <p>
                    Sed in lacinia diam, ac volutpat est. Nullam pharetra semper nisl vitae malesuada. Morbi vulputate augue vel ornare luctus. Suspendisse non justo purus.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Team Slider -->
<section class="section is-medium is-dark has-background">
    <div class="container">
        <h1>Meet the team</h1>
    </div>
    <div class="container is-full">
        <div class="team-slider slider">
            <div class="track clearfix">
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-james.jpg">
                    <div class="description">
                        <h2>James Boyer</h2>
                        <p class="is-subheading">COFOUNDER / MARKETING DIRECTOR</p>
                    </div>
                </article>
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-jr.jpg">
                    <div class="description">
                        <h2>John Boyer</h2>
                        <p class="is-subheading">COFOUNDER / DESIGN &amp; DEVELOPMENT DIRECTOR</p>
                    </div>
                </article>
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-joanna.jpg">
                    <div class="description">
                        <h2>Joanna Boyer</h2>
                        <p class="is-subheading">MANAGEMENT DIRECTOR</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}