{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

{# <!-- Home Hero -->
<section class="section is-dark is-vertical-center has-background hero offset-image">
    <div class="container is-small is-background-container">
        <div class="background-image-container">
            <img src="{{ baseUrl }}img/temp/about-header.jpg">
        </div>
        <div class="content">
            <p class="is-subheading has-dash">ABOUT US</p>
            <h1 class="is-large">Small, personal, and friendly.</h1>
        </div>
    </div>
</section> #}

{% include("_partials/_hero_offset_image.twig") %}

{% for block in entry.contentBuilder %}
    {% include('_blocks/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
{% endfor %}

<!-- Team Slider -->
<section class="section is-medium is-dark has-background animatable">
    <div class="container">
        <h1>Meet the team</h1>
    </div>
    <div class="container is-full">
        <div class="team-slider slider">
            <div class="track clearfix">
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-james.jpg">
                    <div class="description">
                        <h2>James Boyer</h2>
                        <p class="is-subheading">COFOUNDER / MARKETING DIRECTOR</p>
                    </div>
                </article>
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-jr.jpg">
                    <div class="description">
                        <h2>John Boyer</h2>
                        <p class="is-subheading">COFOUNDER / DESIGN &amp; DEVELOPMENT DIRECTOR</p>
                    </div>
                </article>
                <article class="slide">
                    <img src="{{ baseUrl }}img/temp/about-joanna.jpg">
                    <div class="description">
                        <h2>Joanna Boyer</h2>
                        <p class="is-subheading">MANAGEMENT DIRECTOR</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}