<!-- Primary Hero Header Section -->
{% import '_macros/_lazyImager' as LazyImager %}

{# entry variable defaults #}
{% set backgroundImage = entry['headerBackgroundImage'] is defined ? entry.headerBackgroundImage.one() : null %}
{% set backgroundVideo = entry['backgroundVideo'] is defined ? entry.backgroundVideo.one() : null %}
{% set formattedHeading = entry['formattedHeading'] is defined ? entry.formattedHeading : '' %}
{% set button = entry['button'] is defined and entry.button.getUrl()|length ? entry.button : null %}
{% set openInPopup = entry['openInPopup'] is defined ? entry.openInPopup : false %}
{# {% set logoImage = entry['logoImage'] is defined ? entry.logoImage.one() : null %} #}

{% set backgroundImageOptions = {
    sizes: [
        { width: 2200 },
        { width: 1920 },
        { width: 1366 },
        { width: 768 },
        { width: 360 },
    ],
    containerClass: 'is-parallax',
    allowUpscale: true,
    alt: backgroundImage.title,
    background: true
} %}

<section class="section is-dark is-background-container has-background hero primary-hero animatable">
    {{ LazyImager.LazyImager(backgroundImage, backgroundImageOptions) }}
    {% if backgroundVideo %}
        <div class="background-video-container hero-background-video-container loaded">
            <video class="background-video" loop="loop" muted="" autoplay="autoplay" playsinline="playsinline">
                <source src="{{ backgroundVideo.url }}" type="video/mp4">
            </video>
        </div>
    {% endif %}

    <div class="grid-container content-container">
        <div class="content">
            {% if formattedHeading|length %}
                <p class="formattedHeading is-subheading">{{ formattedHeading }}</p>
            {% endif %}
            {% if button %}
                <a class="button is-outlined" href="{{ button.getUrl() }}" target="{{ button.getTarget() }}" {% if openInPopup %} data-lity {% endif %}>
                    {{ button.getText() }}
                </a>
            {% endif %}
        </div>
    </div>
</section>