{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

<!-- Home Hero -->
<section class="section is-large is-dark is-vertical-center is-background-container hero offset-image">
    <div class="background-image-container">
        <img src="{{ baseUrl }}img/temp/services-header.jpg">
    </div>
    <div class="container is-small ">
        <p class="is-subheading has-dash">OUR SERVICES</p>
        <h1 class="is-large">What we are passionate about.</h1>
    </div>
</section>

<!-- Two Column Content -->

<section class="section is-medium is-large-desktop">
    <div class="container is-small">
        <h1>We take you on a creative journey.</h1>
        <p class="is-multi-column">
            Suspendisse sagittis elementum leo, sagittis ornare erat rutrum non. Cras iaculis sem volutpat molestie ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed molestie cursus justo eget efficitur. Phasellus sagittis quam quis porttitor consequat. Morbi eu condimentum ipsum, eget vehicula quam. Proin velit lectus, iaculis quis nunc fermentum, ultrices ultrices 
        </p>
    </div>
</section>

<!-- Image, Text Column Right -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/services-brand_strategy.jpg" />
            </div>
            <div class="column text">
                <h1>Brand strategy and research</h1>
                <p>
                    You may have a clear vision of what the ultimate end goal is for your organisation. But how to get there? We turn meticulous research and data-driven insights into robust, actionable strategies which have a logical, reachable and measurable destination.
                </p>
                <ul>
                  <li>- Insights and positioning</li>
                  <li>- Industry / consumer research</li>
                  <li>- Marketing strategy</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Image, Text Column Left -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns is-reversed-desktop">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/services-brand_identity.jpg"/>
            </div>
            <div class="column text">
                <h1>Brand identity and advertising</h1>
                <p>
                    Whether we’re beginning with a blank canvas or inheriting an existing brand, we go on a journey to unearth that brand’s uniqueness and bring it to life. Our creative work communicates and persuades in the most impactful ways.
                </p>
                <ul>
                    <li>- Naming and identity</li>
                    <li>- Marketing communications</li>
                    <li>- Contact strategy development</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Image, Text Column Right -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/services-websites.jpg"/>
            </div>
            <div class="column text">
                <h1>Websites and digital strategies</h1>
                <p>
                    We build digital platforms which are immediately inviting and addictively immersive. Elegantly designed. Beautifully functional. 
                </p>
                <ul>
                    <li>- Digital strategy</li>
                    <li>- Creative direction</li>
                    <li>- UI/UX design</li>
                    <li>- Mobile responsive design</li>
                    <li>- Front-end development</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Image, Text Column Left -->
<section class="section is-medium image-text-section no-top-spacing">
    <div class="container">
        <div class="columns is-reversed-desktop">
            <div class="column is-half image">
                <img class="cover" src="{{ baseUrl }}img/temp/services-social_media.jpg"/>
            </div>
            <div class="column text">
                <h1>Social media and content creation</h1>
                <p>
                    Our Social strategies truly engage with audiences – sparking exciting connections and spirited conversations and cementing stronger relationships with brands across all platforms. 
                </p>
                <ul>
                    <li>- Content strategy</li>
                    <li>- Copywriting and message development</li>
                    <li>- Planning / production</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}