{# Image, Text Left Content Block #}
<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }} image-text-section block-{{ block.type.handle }} animatable">
    <div class="container {{ block.containerSize }} animatable">
        <div class="columns is-reversed-desktop">
            <div class="column is-half image">
                <div class="transition-helper">
                    {% set image = block.image.one() %}
<img class="cover" src="{{ image.getUrl('fullHeightHuge') }}" title="{{ image.title }}" alt="{{ image.title }}" />
                </div>
            </div>
            <div class="column text">
                {{ block.blockContent }}
            </div>
        </div>
    </div>
</section>