{# Image / Two Columns Content Block #}
<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }} block-{{ block.type.handle }}">
    <div class="container {{ block.containerSize }} animatable">
        <div class="columns is-multiline">
            {% for image in block.images.all() %}
                <div class="column is-half animatable">
                    <div class="transition-helper is-transparent">
                        <img src="{{ image.getUrl('fullHeightHuge') }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>