{# Next Section Content Block #}
<section class="section is-medium is-dark has-background has-text-centered is-background-container next-project-section block-{{ block.type.handle }} animatable">
    {% if block.image|length %}
      <div class="background-image-container">
          <div class="transition-helper">
              {% set image = block.image.one() %}
              <img src="{{ image.getUrl('widescreenHuge') }}" title="{{ image.title }}" alt="{{ image.title }}" data-object-fit>
          </div>
      </div>
    {% endif %}
    <div class="container">
        <a href="{{ block.sectionLink }}">
            <p class="is-subheading heading-title-wrap"><span class="heading-title">{{ block.subheading }}</span></p>
            <h1 class="heading-title-wrap"><span class="heading-title">{{ block.heading }}</span></h1>
        </a>
    </div>
</section>