{# Image Content Block #}
<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }} image-text-section block-{{ block.type.handle }}">
    <div class="container {{ block.containerSize }} animatable">
        <div class="transition-helper">
            <img class="cover" src="{{ block.image.one().getUrl('fullHeightHuge') }}">
        </div>
    </div>
</section>