{#
 # The base layout template
 # ------------------------
 #
 # This template defines the base HTML structure for our site.
 #
 # This is the only place in our templates where we'll ever need to define that
 # stuff. All other templates will extend this one.
 #
 # This template is never accessed directly; instead it is extended by child templates.
 #}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{%- minify -%}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% set craftEnvironment = getenv('CRAFTENV_CRAFT_ENVIRONMENT') %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>
{%- endminify -%}
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    {%- minify -%}
    <head>
        <link rel="dns-prefetch" href="{{ baseUrl }}">
        <link rel="preconnect" href="{{ baseUrl }}" crossorigin="crossorigin">
        {# <meta name="google-site-verification" content="pSIFysvZOVXyWxcXGDBDo1pMuF0UtC-ILBThaI7G7gE" /> #}


        {# -- Any <link> tags that should be included in the header #}
        {% block _head_links %}{% endblock %}

        {# <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title> #}
        {% hook "seo" %}

        {% import "_partials/_macros.twig" as macro %}
        {% include "_partials/_global_header.twig" %}

        {%- endminify -%}
        <link rel="stylesheet" href="{{ baseUrl }}dist/vendors~main.css"></link>
        <link rel="stylesheet" href="{{ baseUrl }}dist/css/main.css"></link>
        {# -- Inline CSS block used by templates for Critical CSS #}
        {% block _inline_css %}{% endblock %}

        <noscript><style>.revealer.show { display: none; }</style></noscript> <!-- hide the preloader when scripts are disabled -->

        {%- minify -%}
        {% if craftEnvironment != 'staging' and craftEnvironment != 'local' %}
           {% include "_partials/_google-analytics.twig" %}
        {% endif %}
        
        <script type="text/javascript">
            var assetsBaseUrl = "{{ baseUrl }}";
            var retina = window.devicePixelRatio > 1;
            var csrfTokenName = "{{ craft.app.config.general.csrfTokenName | e('js') }}";
            var csrfTokenValue = "{{ craft.app.request.csrfToken | e('js') }}";
        </script>

        {# -- </head> JS -- #}
        {% block _head_js %}{% endblock %}

    </head>

    {# -- HTML Body -- #}
    <body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>

        {% block body %}
        {% endblock %}

        {# BrowserSync hook if devmode is enabled #}
        {% if craftEnvironment == 'local' %}
            <script id="__bs_script__">//<![CDATA[
                document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
            //]]></script>
        {% endif %}

        {# -- Footer JS --#}
        {% block _footer_js %}
        {% endblock %}

        {# -- Inline JS -- #}
        {% block _inline_js %}
        {% endblock %}
        {%- endminify -%}

        <script src="{{ baseUrl }}dist/vendors~main.bundle.js" type="text/javascript"></script>
        <script src="{{ baseUrl }}dist/main.bundle.js" type="text/javascript"></script>
    </body>
</html>
