{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

<!-- Home Hero -->
<section class="section is-large is-dark is-vertical-center has-background is-background-container hero home animatable">
    <div class="background-image-container">
        <div class="transition-helper">
            <img class="image js-mouse-tilt-hover" src="{{ baseUrl }}img/temp/home-header.jpg">
        </div>
    </div>
    <div class="container is-small hero-content">
        <h1 class="is-large heading-title-wrap"><span class="heading-title">{{ entry.heroHeading }}</span></h1>
        <p>{{ entry.heroDescription }}</p>
    </div>
</section>

<!-- Home Case Study Grid -->
{# Get project entries - up to 3 #}
{# eager load to avoid N+1 query issues #}
{# To add transforms, use this snippet - 
    .with ([
        [
            'heroFeaturedImage', {
                withTransforms: ['medium']
            }
        ]
    ])
#}
{% set projects = craft
    .entries()
    .section('projects')
    .with ([
        [
            'heroFeaturedImage', {}
        ]
    ]) 
    .limit(3)
    .all() %}

<section class="section is-offset-up case-list home animatable">
    <div class="container">
        <div class="tile is-ancestor">
            {% for project in projects | slice(0, 1) %}
                <div class="tile is-parent animatable">
                    <a class="tile-link-wrapper" href="{{ project.uri }}">
                        <article class="tile is-child is-dark is-background-container has-background">
                            <div class="background-image-container">
                                <div class="transition-helper">
                                    <img class="image js-mouse-tilt-hover" src="{{ project.heroFeaturedImage[0].getUrl() }}">
                                </div>
                            </div>
                            <header class="animatable">
                                <p class="is-subheading heading-title-wrap">
                                    <span class="heading-title">
                                        {% for tag in project.serviceTags.all %}
                                            {{ tag|upper }}
                                            {% if not loop.last %} + {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                                <h1 class="heading-title-wrap animatable"><span class="heading-title">{{ project.heroSubheading }}</span></h1>
                            </header>
                            <div class="description">
                                <p>
                                    {{ project.shortDescription }}
                                </p>
                                <a class="is-button is-text" href="{{ project.uri }}">See Project</a>
                            </div>
                        </article>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tile is-ancestor is-block-tablet is-flex-widescreen">
            {% for project in projects | slice(1, 2) %}
                <div class="tile is-parent animatable">
                    <a class="tile-link-wrapper" href="{{ project.uri }}">
                        <article class="tile is-child is-dark is-background-container has-background">
                            <div class="background-image-container">
                                <div class="transition-helper">
                                    <img class="image js-mouse-tilt-hover" src="{{ project.heroFeaturedImage[0].getUrl() }}">
                                </div>
                            </div>
                            <header class="animatable">
                                <p class="is-subheading heading-title-wrap">
                                    <span class="heading-title">
                                        {% for tag in project.serviceTags.all %}
                                            {{ tag|upper }}
                                            {% if not loop.last %} + {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                                <h1 class="heading-title-wrap animatable"><span class="heading-title">{{ project.heroSubheading }}</span></h1>
                            </header>
                            <div class="description">
                                <p>
                                    {{ project.shortDescription }}
                                </p>
                                <a class="is-button is-text" href="{{ project.uri }}">See Project</a>
                            </div>
                        </article>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Home Secondary Headline -->
<section class="section is-medium text-heading-left animatable">
    <div class="container is-small">
        <div class="columns">
            <div class="column is-two-fifths">
                <h2 class="heading-title-wrap animatable">
                    <span class="heading-title">Secondary and also punchy headline, extra long.</span>
                </h2>
            </div>
            <div class="column">
                <p class="animatable">
                    Suspendisse sagittis elementum leo, sagittis ornare erat rutrum non. Cras iaculis sem volutpat molestie ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed molestie cursus justo eget efficitur. Phasellus sagittis quam quis porttitor consequat. Morbi eu condimentum ipsum, eget vehicula quam. Proin velit lectus, iaculis quis nunc fermentum, ultrices ultrices erat.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Home Services -->
<section class="section is-medium is-dark has-background services animatable">
    <header class="container is-small animatable">
        <p class="is-subheading heading-title-wrap"><span class="heading-title">WHAT WE DO</span></p>
        <h1 class="heading-title-wrap"><span class="heading-title">Our Services</span></h1>
    </header>
    <div class="container">
        <div class="columns is-desktop is-gapless is-multiline">
            <div class="column">
                {% for service in entry.servicesGrid.limit(2).all() %}
                    <a href="{{ service.serviceLink }}">
                        <article class="service is-dark is-background-container animatable">
                            <div class="background-image-container">
                                <div class="transition-helper">
                                    <img class="image js-mouse-tilt-hover" src="{{ service.backgroundImage.one().getUrl() }}">
                                </div>
                            </div>
                            <h3 class="heading-title-wrap"><span class="heading-title">{{ service.serviceTitle }}</span></h3>
                        </article>
                    </a>
                {% endfor %}
            </div>
            <div class="column">
                {% for service in entry.servicesGrid.offset(2).limit(2).all() %}
                    <a href="{{ service.serviceLink }}">
                        <article class="service is-dark is-background-container animatable">
                            <div class="background-image-container">
                                <div class="transition-helper">
                                    <img class="image js-mouse-tilt-hover" src="{{ service.backgroundImage.one().getUrl() }}">
                                </div>
                            </div>
                            <h3 class="heading-title-wrap"><span class="heading-title">{{ service.serviceTitle }}</span></h3>
                        </article>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}