{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{source ("index_critical.min.css", ignore_missing = true)}}
    </style>
{% endblock %}

{% set title = entry.title %}

{% block content %}

<!-- Case Study Hero -->
<!-- Offset Image Hero -->
<section class="section is-large is-dark is-background-container has-background hero case-study animatable">
    <div class="background-image-container">
        <div class="transition-helper">
            {% set image = entry.heroFeaturedImage.one() %}
            <img src="{{ image.getUrl('widescreenHuge') }}" title="{{ image.title }}" alt="{{ image.title }}" data-object-fit="data-object-fit">
        </div>
    </div>
    <div class="container is-small content-container">
<p class="is-subheading has-dash heading-title-wrap">
    <span class="heading-title">{{ entry.completionDate|date('F') }} {{ entry.completionDate|date('Y') }}</span></p>
        <h1 class="is-large heading-title-wrap"><span class="heading-title">{{ entry.heroHeading }}</span></h1>
    </div>
</section>

<div class="section is-large case-study-description">
    <div class="container is-small animatable">
        <div class="columns is-block-tablet is-flex-desktop">
            <div class="column is-two-thirds description">
                {{ entry.projectDescription }}
            </div>
            <div class="column info">
                <h4>Client</h4>
                <p>{{ entry.heroSubheading|lower|ucwords }}</p>

                <h4>Year</h4>
                <p>{{ entry.completionDate|date('Y') }}</p>

                {% set serviceTags = entry.serviceTags.all %}
                {% if serviceTags | length %}
                    <h4>Type</h4>
                    <p>
                        {% for tag in serviceTags %}
                            {{ tag }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                
                {% if entry.projectUrl %}
                    <a href="{{ entry.projectUrl }}" class="project-link" target="_blank">Visit site</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% for block in entry.contentBuilder.all() %}
    {% include('_blocks/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
{% endfor %}

{% endblock %}

{% block _inline_js %}{% endblock %}